services:
  frontend:
    image: ghcr.io/talodev/frontend:latest
    environment:
      - API_URL=https://${BACKEND_DOMAIN}

  backend:
    image: ghcr.io/talodev/backend:latest
    restart: on-failure:3
    volumes:
      - .env:/usr/backend/.env
    depends_on:
      - db
      - redis

  db:
    image: mysql:8.4
    command: --mysql-native-password=ON
    environment:
      - MYSQL_DATABASE=${DB_NAME}
      - MYSQL_ROOT_PASSWORD=${DB_PASS}
    restart: always
    volumes:
      - db-data:/var/lib/mysql
    
  redis:
    image: redis:8-alpine
    command: redis-server --requirepass ${REDIS_PASSWORD}
    restart: unless-stopped

  clickhouse:
    image: clickhouse/clickhouse-server:24.12-alpine
    environment:
      CLICKHOUSE_USER: ${CLICKHOUSE_USER}
      CLICKHOUSE_PASSWORD: ${CLICKHOUSE_PASSWORD}
      CLICKHOUSE_DB: ${CLICKHOUSE_DB}
    restart: always
    ports:
      - ${CLICKHOUSE_PORT}:8123
    volumes:
      - clickhouse-data:/var/lib/clickhouse

  web:
    image: jonasal/nginx-certbot:5.4-alpine
    restart: unless-stopped
    environment:
      - CERTBOT_EMAIL=${CA_EMAIL}
      - FRONTEND_DOMAIN=${FRONTEND_DOMAIN}
      - BACKEND_DOMAIN=${BACKEND_DOMAIN}
    ports:
      - 80:80
      - 443:443
    volumes:
      - certs:/etc/letsencrypt
      - ./config/nginx:/etc/nginx/templates
    depends_on:
      - frontend
      - backend

volumes:
  db-data:
  clickhouse-data:
  certs:
