JWT_SECRET=replace-me
ALLOWED_ORIGIN=https://dashboard.yourdomain.com

DB_HOST=db
DB_PORT=3306
DB_NAME=talo_gs
DB_USER=root
DB_PASS=replace-me

REDIS_PASSWORD=replace-me

SENDGRID_KEY=
SENTRY_DSN=

AUTO_CONFIRM_EMAIL=true
FROM_EMAIL=hello@yourdomain.com

CA_EMAIL=hello@yourdomain.com
FRONTEND_DOMAIN=dashboard.yourdomain.com
BACKEND_DOMAIN=api.yourdomain.com
